
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap');



section{
	width: 100%;
	height: 100vh;
	background:linear-gradient(120deg,#DEC221 , #E4CE4E) ;
	position: relative;
}


.navbar-brand{
	font-family: 'Sansita Swashed', cursive;
	color: white !important;
	
	font-weight: bold;
	font-size: 2rem !important;
	letter-spacing: 0.4rem;
}
.nav-link{
	color: white !important;
	font-size: 1.2rem !important;
	padding: 10px 20px !important;
	letter-spacing: 2px;

	transition: 0.5s;
}
.nav-link:hover{
	color: gray !important;
	font-weight: bold !important;

}
.main-color{
	color: white;
	font-weight: bold;
	font-size: 4rem;
}
.btn{
	color: #8535CA !important;
	padding: 8px 35px !important;
	border: 1px solid #8535CA !important;
	border-radius: 20px !important;
	transition: 0.5s;
	cursor: pointer;
}



svg{
	position: absolute;
	bottom: 0;

	left: 0;
	z-index: 1;
}
.image{
	z-index: 1111 !important; 
}

@media (max-width: 991px){
	.image{
		display: none !important;
	}
}


@media (max-width: 500px){
	.main-color{
		font-size: 8vw !important;
	}
}
